.header {
    display: flex;
    justify-content: space-between;
    color: white;
}

.logo {
    width: 154px;
    height: 64px;
}

.left-header-block {
    display: flex;
    align-items: center;
}

.nav-header-link {
    text-decoration: none;
    padding: 7px 14px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    transition: all 0.1s;
}

.nav-header-link .nav-header-link__label {
    border-bottom: 1px solid #9db1a5;
}

.nav-header-link:hover {
    background-color: #f7f6f3;
    color: #323232;
}

.nav-header-link:hover .nav-header-link__label {
    border-bottom: none;
}
